<h1>Ma TodoList</h1>

<% for(let i = 0; i < todos.length; i++) { %>

    <p><%= todos[i] %></p>

<% } %>

<form method="post" action="ajouter">
    <input type="text" name="newTodo">
    <button type="submit">Add</button>
</form>