<!DOCTYPE html>

<html>
    <head>
        <title>Ma todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>

<h1>Ma TodoList</h1>

<ul>
    <% todoList.forEach(function(todo, index) { %>
        <li><a href="/todo/supprimer/<%= index %>">✘</a> <%= todo %></li>
    <% }); %>
</ul>

<form method="post" action="/todo/ajouter">
    <input type="text" name="newTodo">
    <input type="submit" />
</form>

</body>
</html>